In [83]:
from statsbombpy import sb
import pandas as pd

In [7]:
all_comps = sb.competitions()
all_comps

credentials were not supplied. open data access only

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-09T14:06:05.802
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
5,16,25,Europe,Champions League,male,False,False,2013/2014,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
6,16,24,Europe,Champions League,male,False,False,2012/2013,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-10T13:41:45.751
7,16,23,Europe,Champions League,male,False,False,2011/2012,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
8,16,22,Europe,Champions League,male,False,False,2010/2011,2022-01-26T21:07:11.033473,2021-06-13T16:17:31.694,None,2022-01-26T21:07:11.033473
9,16,21,Europe,Champions League,male,False,False,2009/2010,2022-02-12T16:13:49.294747,2021-06-13T16:17:31.694,None,2022-02-12T16:13:49.294747
10,16,41,Europe,Champions League,male,False,False,2008/2009,2021-11-07T14:20:01.699993,2021-06-13T16:17:31.694,None,2021-11-07T14:20:01.699993
11,16,39,Europe,Champions League,male,False,False,2006/2007,2021-03-31T04:18:30.437060,2021-06-13T16:17:31.694,None,2021-03-31T04:18:30.437060
12,16,37,Europe,Champions League,male,False,False,2004/2005,2021-04-01T06:18:57.459032,2021-06-13T16:17:31.694,None,2021-04-01T06:18:57.459032
13,16,44,Europe,Champions League,male,False,False,2003/2004,2021-04-01T00:34:59.472485,2021-06-13T16:17:31.694,None,2021-04-01T00:34:59.472485
14,16,76,Europe,Champions League,male,False,False,1999/2000,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
15,37,90,England,FA Women's Super League,female,False,False,2020/2021,2021-07-01T18:14:40.756,2021-06-13T16:17:31.694,None,2021-07-01T18:14:40.756
16,37,42,England,FA Women's Super League,female,False,False,2019/2020,2021-06-01T13:01:18.188,2021-06-13T16:17:31.694,None,2021-06-01T13:01:18.188
17,37,4,England,FA Women's Super League,female,False,False,2018/2019,2021-12-02T12:09:35.585046,2021-06-13T16:17:31.694,None,2021-12-02T12:09:35.585046
18,43,3,International,FIFA World Cup,male,False,True,2018,2021-12-06T23:11:59.985953,2021-06-13T16:17:31.694,None,2021-12-06T23:11:59.985953
19,11,90,Spain,La Liga,male,False,False,2020/2021,2022-02-11T14:56:09.076,2021-10-30T04:19:36.116600,2021-09-17T15:18:33.787790,2022-02-11T14:56:09.076
20,11,42,Spain,La Liga,male,False,False,2019/2020,2021-06-15T15:35:02.673,2021-06-13T16:17:31.694,None,2021-06-15T15:35:02.673
21,11,4,Spain,La Liga,male,False,False,2018/2019,2021-11-02T17:53:14.529952,2021-07-09T14:53:22.103024,None,2021-11-02T17:53:14.529952
22,11,1,Spain,La Liga,male,False,False,2017/2018,2022-02-14T13:20:18.723604,2021-06-13T16:17:31.694,None,2022-02-14T13:20:18.723604
23,11,2,Spain,La Liga,male,False,False,2016/2017,2022-01-25T22:51:59.353598,2021-06-13T16:17:31.694,None,2022-01-25T22:51:59.353598
24,11,27,Spain,La Liga,male,False,False,2015/2016,2022-02-28T19:10:16.697196,2021-06-13T16:17:31.694,None,2022-02-28T19:10:16.697196
25,11,26,Spain,La Liga,male,False,False,2014/2015,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
26,11,25,Spain,La Liga,male,False,False,2013/2014,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
27,11,24,Spain,La Liga,male,False,False,2012/2013,2021-10-27T15:44:43.940862,2021-06-13T16:17:31.694,None,2021-10-27T15:44:43.940862
28,11,23,Spain,La Liga,male,False,False,2011/2012,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
29,11,22,Spain,La Liga,male,False,False,2010/2011,2021-11-11T22:57:42.361902,2021-06-13T16:17:31.694,None,2021-11-11T22:57:42.361902
30,11,21,Spain,La Liga,male,False,False,2009/2010,2021-10-26T13:56:40.989214,2021-06-13T16:17:31.694,None,2021-10-26T13:56:40.989214
31,11,41,Spain,La Liga,male,False,False,2008/2009,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
32,11,40,Spain,La Liga,male,False,False,2007/2008,2021-10-26T13:13:56.180589,2021-06-13T16:17:31.694,None,2021-10-26T13:13:56.180589
33,11,39,Spain,La Liga,male,False,False,2006/2007,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
34,11,38,Spain,La Liga,male,False,False,2005/2006,2021-11-28T23:00:27.747396,2021-06-13T16:17:31.694,None,2021-11-28T23:00:27.747396
35,11,37,Spain,La Liga,male,False,False,2004/2005,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
36,49,3,United States of America,NWSL,female,False,False,2018,2021-11-06T05:53:29.435016,2021-06-13T16:17:31.694,None,2021-11-06T05:53:29.435016
37,2,44,England,Premier League,male,False,False,2003/2004,2021-11-14T22:29:00.646120,2021-06-13T16:17:31.694,None,2021-11-14T22:29:00.646120
38,55,43,Europe,UEFA Euro,male,False,True,2020,2022-02-01T17:20:34.319496,2021-11-11T13:54:37.507376,2021-11-11T13:54:37.507376,2022-02-01T17:20:34.319496
39,72,30,International,Women's World Cup,female,False,True,2019,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00

## saved as csv - need to test data loading in dash

In [59]:
all_comps['competition_name'].unique()

comps_in = []
df_comp_opts = []

for idx, row in all_comps.iterrows():
    if row['competition_id'] not in comps_in:
        comps_in.append(row['competition_id'])
        
        df_comp_opts.append(row)
        
df_comp_opts = pd.DataFrame(df_comp_opts)
df_comp_opts = df_comp_opts[['competition_name','country_name','competition_gender','competition_id']]

df_comp_opts.to_csv('comp_opts.csv',index=False)

df_comp_opts

,competition_name,country_name,competition_gender,competition_id
0,Champions League,Europe,male,16
15,FA Women's Super League,England,female,37
18,FIFA World Cup,International,male,43
19,La Liga,Spain,male,11
36,NWSL,United States of America,female,49
37,Premier League,England,male,2
38,UEFA Euro,Europe,male,55
39,Women's World Cup,International,female,72

In [60]:
test_comp_in = pd.read_csv('comp_opts.csv')
test_comp_in

,competition_name,country_name,competition_gender,competition_id
0,Champions League,Europe,male,16
1,FA Women's Super League,England,female,37
2,FIFA World Cup,International,male,43
3,La Liga,Spain,male,11
4,NWSL,United States of America,female,49
5,Premier League,England,male,2
6,UEFA Euro,Europe,male,55
7,Women's World Cup,International,female,72

## add to sbut

In [63]:
def get_seasons_from_comp(selected_comp_id):
    season_opts = all_comps[all_comps['competition_id']==selected_comp_id]
    season_opts = season_opts[['competition_name','season_name','competition_gender','competition_youth','season_id']]
    season_opts = season_opts.sort_values('season_name')
    return season_opts

In [64]:
selected_comp_id = 11
get_seasons_from_comp(selected_comp_id)

,competition_name,season_name,competition_gender,competition_youth,season_id
35,La Liga,2004/2005,male,False,37
34,La Liga,2005/2006,male,False,38
33,La Liga,2006/2007,male,False,39
32,La Liga,2007/2008,male,False,40
31,La Liga,2008/2009,male,False,41
30,La Liga,2009/2010,male,False,21
29,La Liga,2010/2011,male,False,22
28,La Liga,2011/2012,male,False,23
27,La Liga,2012/2013,male,False,24
26,La Liga,2013/2014,male,False,25
25,La Liga,2014/2015,male,False,26
24,La Liga,2015/2016,male,False,27
23,La Liga,2016/2017,male,False,2
22,La Liga,2017/2018,male,False,1
21,La Liga,2018/2019,male,False,4
20,La Liga,2019/2020,male,False,42
19,La Liga,2020/2021,male,False,90

## add to sbut

In [67]:
def get_matches_from_season(selected_season_id, selected_comp_id):
    match_opts = sb.matches(competition_id=selected_comp_id, season_id=selected_season_id)
    match_opts = match_opts[['match_date','home_team','away_team', 'home_score', 'away_score','match_id']]
    return match_opts

In [89]:
selected_comp_id = 11
selected_season_id = 26

get_matches_from_season(selected_season_id, selected_comp_id)

credentials were not supplied. open data access only

,match_date,home_team,away_team,home_score,away_score,match_id
0,2014-11-22,Barcelona,Sevilla,5,1,265835
1,2014-09-24,Mlaga,Barcelona,0,0,266838
2,2015-04-28,Barcelona,Getafe,6,0,265963
3,2014-09-27,Barcelona,Granada,6,0,266117
4,2015-03-08,Barcelona,Rayo Vallecano,6,1,266916
5,2015-03-22,Barcelona,Real Madrid,2,1,267183
6,2015-05-23,Barcelona,Deportivo La Coruna,2,2,267197
7,2014-12-13,Getafe,Barcelona,0,0,70264
8,2014-09-13,Barcelona,Athletic Club,2,0,70273
9,2014-11-01,Barcelona,Celta Vigo,0,1,267301
10,2014-10-18,Barcelona,Eibar,3,0,265896
11,2015-05-02,Crdoba,Barcelona,0,8,265866
12,2015-04-08,Barcelona,Almera,4,0,267400
13,2014-08-31,Villarreal,Barcelona,0,1,266406
14,2014-10-25,Real Madrid,Barcelona,3,1,267085
15,2014-10-04,Rayo Vallecano,Barcelona,0,2,267561
16,2015-02-21,Barcelona,Mlaga,0,1,266148
17,2015-05-09,Barcelona,Real Sociedad,2,0,266045
18,2015-01-11,Barcelona,Atltico Madrid,3,1,70303
19,2015-01-04,Real Sociedad,Barcelona,1,0,266240
20,2015-02-01,Barcelona,Villarreal,3,2,267597
21,2015-01-24,Elche,Barcelona,0,6,266794
22,2015-02-28,Granada,Barcelona,1,3,267343
23,2015-05-17,Atltico Madrid,Barcelona,0,1,266631
24,2014-12-07,Barcelona,Espanyol,5,1,266320
25,2015-01-18,Deportivo La Coruna,Barcelona,0,4,266230
26,2015-04-18,Barcelona,Valencia,2,0,266525
27,2014-11-30,Valencia,Barcelona,0,1,266560
28,2014-12-20,Barcelona,Crdoba,5,0,266846
29,2015-04-25,Espanyol,Barcelona,0,2,266531
30,2014-08-24,Barcelona,Elche,3,0,266921
31,2014-11-08,Almera,Barcelona,1,2,267499
32,2015-02-15,Barcelona,Levante,5,0,266741
33,2015-02-08,Athletic Club,Barcelona,2,5,266871
34,2015-03-14,Eibar,Barcelona,0,2,266967
35,2015-04-05,Celta Vigo,Barcelona,0,1,266929
36,2014-09-21,Levante,Barcelona,0,5,266770
37,2015-04-11,Sevilla,Barcelona,2,2,266142

## add to sbut

In [90]:
def get_teams_from_match(m_id):
    lineups = sb.lineups(match_id=selected_match_id)
    teams = list(lineups.keys())
    
    return teams

In [91]:
selected_comp_id = 11
selected_season_id = 26

get_teams_from_match(266142)

credentials were not supplied. open data access only

['Barcelona', 'Osasuna']

## done added:  to sbut

In [87]:
def get_lineups_from_match(selected_match_id):
    lineups = sb.lineups(match_id=selected_match_id)
    teams = list(lineups.keys())
    
    lineup_team_0 = lineups[teams[0]]
    lineup_team_0['team'] = teams[0]
    lineup_team_1 = lineups[teams[1]]
    lineup_team_1['team'] = teams[1]
    
    lineups = pd.concat([lineups[teams[0]],lineups[teams[1]]])
    
    lineups = lineups[['team','player_name','player_nickname','jersey_number','country','player_id']]
    return lineups

In [88]:
selected_match_id = 69230

get_lineups_from_match(selected_match_id)

credentials were not supplied. open data access only

,team,player_name,player_nickname,jersey_number,country,player_id
0,Barcelona,Gngnri Yaya Tour,Yaya Tour,24,Cte d'Ivoire,3087
1,Barcelona,Daniel Alves da Silva,Dani Alves,20,Brazil,4324
2,Barcelona,Bojan Krkc Prez,Bojan,11,Spain,4913
3,Barcelona,Sergio Busquets i Burgos,Sergio Busquets,28,Spain,5203
4,Barcelona,Gerard Piqu Bernabu,Gerard Piqu,3,Spain,5213
5,Barcelona,Andrs Iniesta Lujn,Andrs Iniesta,8,Spain,5216
6,Barcelona,Lionel Andrs Messi Cuccittini,Lionel Messi,19,Argentina,5503
7,Barcelona,Thierry Henry,None,14,France,15516
8,Barcelona,"Samuel Eto""o Fils",Samuel Eto'o,9,Cameroon,19298
9,Barcelona,Carles Puyol i Saforcada,Carles Puyol,5,Spain,20125
10,Barcelona,Xavier Hernndez Creus,Xavi,6,Spain,20131
11,Barcelona,Seydou Kita,Seydou Kita,15,Mali,20169
12,Barcelona,Vctor Valds Arribas,Vctor Valds,1,Spain,20176
13,Barcelona,Eric-Sylvain Bilal Abidal,ric Abidal,22,France,20177
0,Osasuna,Jaroslav Plail,None,20,Czech Republic,3150
1,Osasuna,Ignacio Monreal Eraso,Nacho Monreal,3,Spain,3498
2,Osasuna,Csar Azpilicueta Tanco,Csar Azpilicueta,2,Spain,3957
3,Osasuna,Masoud Shojaei Soleimani,Masoud Shojaei,19,"Iran, Islamic Republic of",5238
4,Osasuna,Juan Francisco Torres Beln,Juanfran,12,Spain,6375
5,Osasuna,Miguel Flao Bezunartea,Miguel Flao,4,Spain,24313
6,Osasuna,Jos Romero Urtasun,Josetxo,14,Spain,25865
7,Osasuna,Francisco Pual Martnez,Patxi Pual,10,Spain,25874
8,Osasuna,Sergio Fernndez Gonzlez,Sergio,16,Spain,25969
9,Osasuna,Javad Nekounam,None,6,"Iran, Islamic Republic of",26002
10,Osasuna,Javier Garca Portillo,Javi Portillo,9,Spain,26050
11,Osasuna,Walter Gerardo Pandiani Urquiza,Wlter Pandiani,11,Uruguay,26516
12,Osasuna,Roberto Fernndez Alvarellos,Roberto Fernndez,13,Spain,26659
13,Osasuna,Krisztin Vadcz,None,21,Hungary,26660

In [73]:
selected_player = lineups.iloc[5]
selected_player

## make_player_page(selected_player)

player_name        Andrs Iniesta Lujn
player_nickname          Andrs Iniesta
jersey_number                         8
country                           Spain
player_id                          5216
Name: 5, dtype: object